.hhh{
  background-color: #f58f2d !important;
  height: 90px;
}
.hhh-img{
  padding: 20px;
  height: 40px;
  width: 50px;
  margin-left: 100px !important;
}
.btn-1{
  background-color: #037991;
  height: 40px;
  width: 150px;
  color: white;
}
.btn-2{
  background-color: #f3f3f3;
  height: 44px;
  width: 300px;
  border: 1px solid white;
}
.btn-2:hover{
    background-color: #1E88E5 !important;
}
.application-1 {
  background-color: #f3f3f3;
  height: 150px;
  width: 100%;
  margin-top: 20px;
}

.application-2 {
  background-color: #f3f3f3;
  height: 600px;
  width: 100%;
  margin-top: 20px;
}
.in-1{
  width: 69%;

}
.in-2{
  margin-left: 60px !important;
  width: 200px;
  height: 30px;
}
.in{
  width:50px !important;
}
.btt-1{
  background-color: #007790;
  height: 40px;
  width:100px;
  color:white;
  border: 1px solid #007790;
}
.bt-1{
  margin-left: 30px;
}
.online-pan-application{
     background-color:#f3f3f3 !important;
     height: 400px;
}
.online-1{
  text-align: center;
  font-size: 20px;
}
.online-2{
  font-size: 17px;
}
.online-3{
  text-align: center;
  font-size: 20px;
}
.online-4{
  font-size: 16px;
}
.online-5{
  font-size: 20px;
  text-align: center;
}
.bt-11{
  background-color: #007790 !important;
  height: 50px;
  width: 280px;
  margin-left: 460px;
  color: white;
  border-radius: 3px;
  border: 1px solid #007790 ;
}
.pan{
  background-color: #f3f3f3;
  height: 350px;
  width: 100%;
}
.pan-2{
  background-color: white;
  height: 250px;
  width: 100%;
  overflow-y: scroll;
}
.second-pan{
  background-color: #e6e4eb;
  height: 600px;
  width: 100%;
}
.second-pan-1{
  background-color: #e6e4eb;
  height: 200px;
  width: 100%;
}
.para-1{
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}
.second-pan-2{
  background-color: #e6e4eb;
  height: 200px;
  width: 100%;
  margin-top: 30px;
}
.second-pan-3{
    background-color: #e6e4eb;
    height: 150px;
    width: 100%;
    margin-top: 30px;
}
.in-1{
  border: 6px solid white !important;
}
.in-2{
  border: 6px solid white !important;
}
.second-pan-4{
  background-color:#e6e4eb;
  height: 600px;
  width: 100%;
  margin-top: 30px;
}
.select-1{
  width: 400px;
}
.second-pan-5{
  background-color:#e6e4eb;
  height: 80px;
  width: 100%;
  margin-top: 30px;

}
.second-pan-6{
  background-color:#e6e4eb;
  height: 580px;
  width: 100%;
  margin-top: 30px;
}
.third-1{
  background-color:#e6e4eb;
  height: 300px;
  width: 100%;
}
.Adress-commu{
  background-color:#e6e4eb;
  height: 200px;
  width: 100%;
  margin-top: 30px;
}
.paragrapfh-1{
  margin-top: -14px;
  font-size: 15px;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.Residence-adress{
  background-color:#e6e4eb;
  height: 310px;
  width: 100%;
  margin-top: 30px;
}
.office-adress{
  background-color:#e6e4eb;
  height: 400px;
  width: 100%;
  margin-top: 30px;
}
.Telephone{
  background-color:#e6e4eb;
  height: 250px;
  width: 100%;
  margin-top: 30px;
}
.representative{
    background-color:#e6e4eb ;
    height: 160px;
    margin-top: 30px;
}
.Area-code{
  background-color:#e6e4eb;
  height: 170px;
  width: 100%;
}
.for-help{
  background-color:#e6e4eb ;
  height: 900px;
  width: 100%;
}
.declare{
  margin-top: 30px;
  font-size: 20px;
  color:"black"
}
.token{
  display: flex;
  margin-left: 1100px;
  margin-top: -20px;
  font-size: 20px;
}
th{
  color: black !important;
}
.choose-AO-Code{
  background-color: white;
  height: 405px;
  width: 100%;
  overflow-y: scroll;
}
.area-para{
  margin-bottom: -60px;
}
.docu-submite{
  background-color: #e6e4eb ;
  height: 205px;
  width: 100%;
}
.Declaration{
  background-color:#e6e4eb;
  height: 390px;
  margin-top: 30px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #e6e4eb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 1000px;
  background-color: black;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -30px;
}

.para-personal{
  color: blue;
  font-size:20px;
  margin-left: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}
.second-pan-50{
  background-color:#e6e4eb;
  height: 250px;
  width: 100%;
  
}
.representative-1{
  background-color:#e6e4eb ;
  height: 550px;
  margin-top: -1px;
}

.para-applicant{
  color: #007790;
  font-size: 20px;
  margin-top: 30px;
}

.detailes{
  font-size: 20px;
  color: blue;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: red;}



.dropdown {
  position: relative;
  display: inline-block;
 
}

.dropdown-content-1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 1000px;
  background-color: black;
  height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -150px;
}

.dropdown-content-1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content-1 a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content-1 {display: block;}

.dropdown:hover .dropbtn {background-color: red;}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: white;
  color: white;
}